{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn"
  },
  "env": {
    "node": true,
    "browser": true
  }
}
